{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "key-spacing": 0,
    "comma-dangle": 0,
    "jsx-quotes": 0,
    "react/prop-types": 0,
    "no-new": 0,
    "space-infix-ops": 0,
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "jest": true,
    "jquery": true
  }
}
